KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_REALM=myrealm

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
